<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CafeReview</title>
</head>
<body>
    <main role="main" class="pb-3" style="width:100%;height:100%">
        @RenderBody()
    </main>
    @RenderSection("Scripts", required: false)
</body>
</html>
